.navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px;
}

.partOneA{
    display: flex;
    align-items: center;
}

.navHeader img {
    padding: 0px  7px;
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
}

.partOneB {
    display: flex;
}

.partOneB>input {
    width: 500px;
    padding: 10px;
}