.navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px;
}

.partOneA{
    display: flex;
    align-items: center;
}

.navHeader img {
    padding: 0px  7px;
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
}

.partOneB {
    display: flex;
}

.partOneB>input {
    width: 500px;
    padding: 10px;
}

/* part two styling*/
.partTwo {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.partTwoA {
    height: 100%;
    width: 230px;
    margin-top: 10px;
}
.category{
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.category img {
    width: 30px;
    margin-left: 8px;
}

.category span {
    margin-left: 15px;
}

.category:hover{
    background: #e5e5e5;
    cursor: pointer;
}




